<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Contact Us - SYLO'}) %>
  <body>
    <main id="contact-us" class="modal">
      <%- include('../partials/contact-header.ejs') %>
      <img class="icon" src="../../icons/icon_contact_us_white.svg" height="72px" />
      <h1>Contact Us</h1>
      <form id="form1" name="form1" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="/syloforms">
        <p id="contact-form__error" class="hidden"></p>
        <ul>
          <li id="foli8" class="form-group">
            <label id="title8" for="Field8">
              Your First Name
              <span id="req_8">*</span>
            </label>
            <div>
              <input id="Field8" name="Field8" type="text" value="" maxlength="255" tabindex="1" placeholder="Your First Name" required />
            </div>
          </li>
          <li id="fo1li10" class="form-group">
            <label id="title10" for="Field10">
              Your Last Name
              <span id="req_10" class="req">*</span>
            </label>
            <div>
              <input id="Field10" name="Field10" type="text" value="" maxlength="255" tabindex="2" placeholder="Your Last Name" required>
            </div>
          </li>
          <li id="foli4" class="form-group">
            <label id="title4" for="Field4">
              Your Company (optional)
            </label>
            <div>
              <input id="Field4" name="Field4" type="text" value="" maxlength="255" tabindex="3" placeholder="Your Company (optional)" />
            </div>
          </li>
          <li id="foli5" class="form-group">
            <label id="title5" for="Field5">
              Your Email Address
              <span id="req_5">*</span>
            </label>
            <div>
              <input id="Field5" name="Field5" type="email" spellcheck="false" value="" maxlength="255" tabindex="4" placeholder="Your Email Address" required />
            </div>
          </li>
          <li id="foli6" class="form-group">
            <label id="title6" for="Field6">
              Your Phone Number (optional)
            </label>
            <div>
              <input id="Field6" name="Field6" tabindex="5" type="tel" maxlength="255" value="" placeholder="Your Phone Number (optional)" />
            </div>
          </li>
          <li id="foli7" class="form-group">
            <label id="title7" for="Field7">
              Your Message (optional)
            </label>
            <div>
              <textarea id="Field7" name="Field7" spellcheck="true" rows="4" tabindex="6" placeholder="Your Message (optional)"></textarea>
            </div>
          </li>
          <li class="form-group--buttons">
            <input id="saveForm" name="saveForm" class="cta-button" type="submit" value="Send" />
          </li>
          <li class="form-group--hidden">
            <label for="comment">Do Not Fill This Out</label>
            <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
            <input type="hidden" id="idstamp" name="idstamp" value="e5oRzuE5RQEqDadtBXR5td1cnqls8906dII78zHbyGw=" />
          </li>
        </ul>
      </form>
    </main>
    <!-- Google Code for Contact Us Form Submission Conversion Page
In your html page, add the snippet and call
goog_report_conversion when someone clicks on the
chosen link or button. -->
<script type="text/javascript">
  /* <![CDATA[ */
  goog_snippet_vars = function() {
    var w = window;
    w.google_conversion_id = 850224630;
    w.google_conversion_label = "KL-eCKLg13IQ9su1lQM";
    w.google_remarketing_only = false;
  }
  // DO NOT CHANGE THE CODE BELOW.
  goog_report_conversion = function(url) {
    goog_snippet_vars();
    window.google_conversion_format = "3";
    var opt = new Object();
    opt.onload_callback = function() {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  }
  var conv_handler = window['google_trackConversion'];
  if (typeof(conv_handler) == 'function') {
    conv_handler(opt);
  }
}
/* ]]> */
</script>
<script type="text/javascript"
  src="//www.googleadservices.com/pagead/conversion_async.js">
</script>

    <script defer src="/js/bundle.js"></script>

    <!-- Insert Analytics Scripts Here -->
  </body>
</html>
