<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Get Your Insights - Brands - SYLO'}) %>
  <body>
    <main id="contact__brand" class="modal">
      <%- include("../partials/contact-header.ejs") %>
      <img class="icon" src="/icons/icon_chart_white.svg" height="72px" />
      <h1>Get your campaign insights</h1>
      <form id="form2" name="form2" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://meetsylo.wufoo.com/forms/mpxc6pv0w5hssf/#public">
        <h2>Before we give your brand the goods, give us your vitals.</h2>
        <p id="contact-form__error" class="hidden"></p>
        <ul>
          <li id="foli2" class="form-group">
            <label id="title2" for="Field2">
              Your First Name
              <span id="req_2" class="req">*</span>
            </label>
            <div>
              <input id="Field2" name="Field2" type="text" value="" maxlength="255" tabindex="1" placeholder="Your First Name" required />
            </div>
          </li>
          <li id="fo2li8" class="form-group">
            <label id="title8" for="Field8">
              Your Last Name
              <span id="req_8" class="req">*</span>
            </label>
            <div>
              <input id="Field8" name="Field8" type="text" value="" maxlength="255" tabindex="2" placeholder="Your Last Name" required />
            </div>
          </li>
          <li id="foli3" class="form-group">
            <label id="title3" for="Field3">
              Your Company
              <span id="req_3" class="req">*</span>
            </label>
            <div>
              <input id="Field3" name="Field3" type="text" value="" maxlength="255" tabindex="3" placeholder="Your Company" required />
            </div>
          </li>
          <li id="foli4" class="form-group">
            <label id="title4" for="Field4">
              Your Email Address
              <span id="req_4" class="req">*</span>
            </label>
            <div>
              <input id="Field4" name="Field4" type="email" spellcheck="false" value="" maxlength="255" tabindex="4" placeholder="Your Email Address" required />
            </div>
          </li>
          <li id="foli5" class="form-group">
            <label id="title5" for="Field5">
              Your Phone Number (optional)
            </label>
            <div>
              <input id="Field5" name="Field5" tabindex="5" type="tel" maxlength="255" value="" placeholder="Your Phone Number (optional)" />
            </div>
          </li>
          <li id="foli6" class="form-group">
            <label id="title6" for="Field6">
              Your Message (optional)
            </label>
            <div>
              <textarea id="Field6" name="Field6" spellcheck="true" rows="4" tabindex="6" placeholder="Your Message (optional)"></textarea>
            </div>
          </li>
          <li class="form-group--buttons">
            <div>
              <input id="saveForm" name="saveForm" class="cta-button" type="submit" value="LET'S GO" />
            </div>
          </li>
          <li class="form-group--hidden">
            <label for="comment">Do Not Fill This Out</label>
            <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
            <input type="hidden" id="idstamp" name="idstamp" value="7b8byvrnad05/w+6Jm02LnjeHJxfsvHOfm6GUeOVa4Y=" />
          </li>
          <li class="form-group--hidden">
            <label id="title10" for="Field10">
              Referred From
            </label>
            <div>
              <select id="Field10" name="Field10">
                <option value="Brand contact page" selected="selected">
                  Brand contact page
                </option>
                <option value="Influencer Marketing ad landing page">
                  Influencer Marketing ad landing page
                </option>
              </select>
            </div>
          </li>
        </ul>
      </form>
    </main>
    <%- include ../partials/scripts.ejs %>
    <!-- Insert Analytics Scripts Here -->
  </body>
</html>
