<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Get Your Insights - Influencer Marketing - SYLO'}) %>
  <body class="ad-landing-page ad-landing-page--influencer-marketing">
    <div class="ad-landing-page__hero">
    </div>
    <main id="contact__brand" class="modal">
      <%- include('../partials/contact-header.ejs') %>
      <div class="contact__brand__cta">
        <div class="contact__brand__cta__info">
          <div class="contact__brand__cta__info__container">
            <h1>Unparalleled insights into your influencer marketing</h1>
            <p>SYLO empowers the Influencer Marketing industry with third-party measurement. What Nielsen is for Television and comScore for Website Traffic, SYLO is Influencer Marketing's standardized scoring system.</p>
            <p>Trusted by multiple Fortune 500 companies, agencies, and influencers, the SYLO scoring system calculates individual "SYLO Scores" for every piece of content posted by influencers across YouTube, Instagram, Facebook, and Twitter.</p>
            <p>Brands want to know whether they are partnering with the right creators, with the right type of content, on the right social platforms. SYLO provides these answers - it's the standardized, independent verification that the Influencer Marketing space has been clamoring for.</p>
          </div>
        </div>
        <form id="form2" name="form2" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://meetsylo.wufoo.com/forms/mpxc6pv0w5hssf/#public">
          <h2>See what we can do for you!</h2>
          <p id="contact-form__error" class="hidden"></p>
          <ul class="brand-contact-form-container">
            <li id="foli2" class="form-group">
              <label id="title2" for="Field2">
                Your First Name
                <span id="req_2" class="req">*</span>
              </label>
              <div>
                <input id="Field2" name="Field2" type="text" value="" maxlength="255" tabindex="1" placeholder="Your First Name" required />
              </div>
            </li>
            <li id="fo2li8" class="form-group">
              <label id="title8" for="Field8">
                Your Last Name
                <span id="req_8" class="req">*</span>
              </label>
              <div>
                <input id="Field8" name="Field8" type="text" value="" maxlength="255" tabindex="2" placeholder="Your Last Name" required />
              </div>
            </li>
            <li id="foli3" class="form-group">
              <label id="title3" for="Field3">
                Your Company
                <span id="req_3" class="req">*</span>
              </label>
              <div>
                <input id="Field3" name="Field3" type="text" value="" maxlength="255" tabindex="3" placeholder="Your Company" required />
              </div>
            </li>
            <li id="foli4" class="form-group">
              <label id="title4" for="Field4">
                Your Email Address
                <span id="req_4" class="req">*</span>
              </label>
              <div>
                <input id="Field4" name="Field4" type="email" spellcheck="false" value="" maxlength="255" tabindex="4" placeholder="Your Email Address" required />
              </div>
            </li>
            <li id="foli5" class="form-group">
              <label id="title5" for="Field5">
                Your Phone Number (optional)
              </label>
              <div>
                <input id="Field5" name="Field5" tabindex="5" type="tel" maxlength="255" value="" placeholder="Your Phone Number (optional)" />
              </div>
            </li>
            <li id="foli6" class="form-group">
              <label id="title6" for="Field6">
                Your Message (optional)
              </label>
              <div>
                <textarea id="Field6" name="Field6" spellcheck="true" rows="4" tabindex="6" placeholder="Your Message (optional)"></textarea>
              </div>
            </li>
            <li class="form-group--buttons">
              <div>
                <input id="saveForm" name="saveForm" class="cta-button" type="submit" value="LET'S GO" />
              </div>
            </li>
            <li class="form-group--hidden">
              <label for="comment">Do Not Fill This Out</label>
              <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
              <input type="hidden" id="idstamp" name="idstamp" value="7b8byvrnad05/w+6Jm02LnjeHJxfsvHOfm6GUeOVa4Y=" />
            </li>
            <li class="form-group--hidden">
              <label id="title10" for="Field10">
                Referred From
              </label>
              <div>
                <select id="Field10" name="Field10">
                  <option value="Brand contact page">
                    Brand contact page
                  </option>
                  <option value="Influencer Marketing ad landing page" selected="selected">
                    Influencer Marketing ad landing page
                  </option>
                </select>
              </div>
            </li>
          </ul>
        </form>
      </div>
      <div class="ad__contact__screen ad__contact__screen--reporting">
        <h2>SYLO's reporting capabilities show the performance of each influencer and piece of content on every social platform</h2>
        <ol class="ad__contact__screen__steps">
          <li class="ad__contact__screen__step">
            <img src="../../icons/icon_group_gray_48px.svg" width="72px" />
            <h4>Influencer evaluation<br />reports</h4>
          </li>
          <li class="ad__contact__screen__step">
            <img src="../../icons/icon_dvr_gray_48px.svg" width="72px" />
            <h4>Live campaign<br />reports</h4>
          </li>
          <li class="ad__contact__screen__step">
            <img src="../../icons/icon_insert_chart_gray_48px.svg" width="72px" />
            <h4>Campaign recap<br />reports</h4>
          </li>
        </ol>
      </div>
      <div class="ad__contact__screen ad__contact__screen--how">
        <h2>How it Works</h2>
        <ol class="ad__contact__screen__steps">
          <li class="ad__contact__screen__step">
            <h3>1</h3>
            <h4>Registration</h4>
            <p>Influencers register with SYLO's FREE and NO obligation mobile web app</p>
            <img src="../../img/creator-app-stepper-1.png" />
          </li>
          <li class="ad__contact__screen__step">
            <h3>2</h3>
            <h4>Data Collection</h4>
            <p>SYLO collects information on the influencer's audience demographics and past campaigns</p>
            <img src="../../img/creator-app-stepper-2.png" />
          </li>
          <li class="ad__contact__screen__step">
            <h3>3</h3>
            <h4>Influencer Insights</h4>
            <p>SYLO gets permission to access the influencer's data directly from Facebook, Twitter, Instagram, and YouTube</p>
            <img src="../../img/creator-app-stepper-3.png" />
          </li>
        </ol>
        <img class="sylo-score-elements" src="../../img/sylo-score-equation.png" title="SYLO Score equation" alt="The SYLO Score is computed using public, private, and proprietary data." />
      </div>
    </main>

    <script defer src="../../js/bundle.js"></script>

    <!-- Insert Analytics Scripts Here -->
  </body>
</html>
