<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Get Your Insights - Travel Creators - SYLO'}) %>
<body class="ad-landing-page ad-landing-page--travel">
    <div class="ad-landing-page__hero">
    </div>
    <main id="contact__creator" class="modal">
      <%- include("../partials/contact-header.ejs") %>
      <div class="contact__creator__cta">
        <div class="contact__creator__cta__info">
          <div class="contact__creator__cta__info__container">
            <h1>Our data can be the secret ingredient for your success</h1>
            <p>Brands are now demanding more data from the travel community to validate influence with your audiences.</p>
            <p>SYLO's free Creator App gives you access to all of the data and insights you'll need to better understand your audience and influence in travel and beyond.</p>
            <p>With SYLO, you'll now have the knowledge of which platforms, themes, and strategies captivate your audience and drive your top content.</p>
            <p>SYLO’s team of experts classifies each of your posts into categories that brands are searching for, giving you valuable info that you can leverage to validate your fit for a campaign, creative ideas for the integration, and influence with your audience.</p>
            <p>All things that we believe will lead to longer-term and more lucrative partnerships with brands.</p>
          </div>
        </div>
        <form id="form3" name="form3" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://meetsylo.wufoo.com/forms/q1ckd1ie0z7plka/#public">
          <h2>See what we can do for you!</h2>
          <p id="contact-form__error" class="hidden"></p>
          <ul class="creator-contact-form-container">
            <li id="foli2" class="form-group">
              <label class="desc" id="title2" for="Field2">
                Your First Name
                <span id="req_2" class="req">*</span>
              </label>
              <div>
                <input id="Field2" name="Field2" type="text" value="" maxlength="255" tabindex="1" placeholder="Your First Name" required />
              </div>
            </li>
            <li id="fo3li8" class="form-group">
              <label id="title8" for="Field8">
                Your Last Name
                <span id="req_8" class="req">*</span>
              </label>
              <div>
                <input id="Field8" name="Field8" type="text" value="" maxlength="255" tabindex="2" placeholder="Your Last Name" required />
              </div>
            </li>
            <li id="foli4" class="form-group">
              <label class="desc" id="title4" for="Field4">
                Your Email Address
                <span id="req_4" class="req">*</span>
              </label>
              <div>
                <input id="Field4" name="Field4" type="email" spellcheck="false" value="" maxlength="255" tabindex="3" placeholder="Your Email Address" required />
              </div>
            </li>
            <li id="foli5" class="form-group">
              <label class="desc" id="title5" for="Field5">
                Your Phone Number (optional)
              </label>
              <div>
                <input id="Field5" name="Field5" tabindex="4" type="tel" maxlength="255" value="" placeholder="Your Phone Number (optional)" />
              </div>
            </li>
            <li id="foli3" class="form-group">
              <label class="desc" id="title3" for="Field3">
                What's Your Social Media Handle(s)? (optional)
              </label>
              <div>
                <input id="Field3" name="Field3" type="text" value="" maxlength="255" tabindex="5" placeholder="What's Your Social Media Handle(s)? (optional)" />
              </div>
            </li>
            <li id="foli6" class="form-group">
              <label class="desc" id="title6" for="Field6">
                Your Message (optional)
              </label>
              <div>
                <textarea id="Field6" name="Field6" spellcheck="true" rows="4" tabindex="6" placeholder="Your Message (optional)"></textarea>
              </div>
            </li>
            <li class="form-group--buttons">
              <div>
                <input id="saveForm" name="saveForm" class="cta-button" type="submit" value="LET'S GO" />
              </div>
            </li>
            <li class="form-group--hidden">
              <label for="comment">Do Not Fill This Out</label>
              <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
              <input type="hidden" id="idstamp" name="idstamp" value="duq7NEC2kiZGdnHPZOyG6nEkorwTZWnjS5GfgBsvG1E=" />
            </li>
            <li class="form-group--hidden">
              <label id="title12" for="Field12">
                Referred From
              </label>
              <div>
                <select id="Field12" name="Field12">
                  <option value="Creator contact form">
                    Creator contact form
                  </option>
                  <option value="Food ad landing page">
                    Food ad landing page
                  </option>
                  <option value="Family ad landing page">
                    Family ad landing page
                  </option>
                  <option value="Beauty/fashion ad landing page">
                    Beauty/fashion ad landing page
                  </option>
                  <option value="Men's active lifestyle landing page">
                    Men's active lifestyle landing page
                  </option>
                  <option value="Travel ad landing page" selected="selected">
                    Travel ad landing page
                  </option>
                </select>
              </div>
            </li>
          </ul>
        </form>
      </div>
      <div class="ad__contact__screen ad__contact__screen--unparalleled">
        <h2>Unparalleled insights into your content's influence on specific themes that brands are searching for</h2>
        <ol class="ad__contact__screen__steps">
          <li class="ad__contact__screen__step">
            <h3>1</h3>
            <h4>Discovery of top themes</h4>
            <img src="../../img/top-categories-travel.png" />
          </li>
          <li class="ad__contact__screen__step">
            <h3>2</h3>
            <h4>Scoring on every post</h4>
            <img src="../../img/TravelImageCreatorAd.png" />
          </li>
          <li class="ad__contact__screen__step">
            <h3>3</h3>
            <h4>Deep content insights</h4>
            <img src="../../img/post-detailed-stats.png" />
          </li>
        </ol>
      </div>
      <div class="ad__contact__screen ad__contact__screen--how">
        <h2>How it Works</h2>
        <ol class="ad__contact__screen__steps">
          <li class="ad__contact__screen__step">
            <h3>1</h3>
            <h4>Registration</h4>
            <p>We will send you instructions to register with SYLO's FREE and NO obligation mobile web app</p>
            <img src="../../img/creator-app-stepper-1.png" />
          </li>
          <li class="ad__contact__screen__step">
            <h3>2</h3>
            <h4>Data Collection</h4>
            <p>Answer a few simple questions about audience demographics and past campaigns so we can put your history in context</p>
            <img src="../../img/creator-app-stepper-2.png" />
          </li>
          <li class="ad__contact__screen__step">
            <h3>3</h3>
            <h4>Gain New Insights</h4>
            <p>Gain access to performance data of your content across Facebook, Twitter, Instagram, and YouTube</p>
            <img src="../../img/creator-app-stepper-3.png" />
          </li>
        </ol>
      </div>
    </main>
    <script defer src="../../js/bundle.js"></script>
    <!-- Insert Analytics Scripts Here -->
  </body>
</html>
