<header>
  <a href="/" title="Go to SYLO home page" id="logo" class="header__logo">
    <img src="../../img/SYLO-logo-outline-white-horizontal.png" title="SYLO" height="56px" />
  </a>
  <a id="exit-form" class="exit" href="/">
    <img src="../../icons/icon_close_white_48px.svg" width="32px" />
  </a>
</header>
