<footer>
  <div class="footer__main">
    <div class="links links--services">
      <h4>Our Services</h4>
      <ul>
        <li><a href="/brands">For Brands</a></li>
        <li><a href="/creators">For Creators</a></li>
        <li><a href="/contact">Get Your Insights</a></li>
        <li><a href="https://app.meetsylo.com">Visit the Creator App</a></li>
      </ul>
    </div>
    <div class="links links--company">
      <h4>Company</h4>
      <ul>
        <li><a href="/about#mission">Our Mission</a></li>
        <li><a href="/about#careers">Careers</a></li>
        <li><a href="/about#location">Location</a></li>
      </ul>
    </div>
    <div class="links links--customers">
      <h4>Customer Care</h4>
      <ul>
        <li><a href="/faq">FAQs</a></li>
        <li><a href="/contact/all">Contact Us</a></li>
      </ul>
    </div>
    <div class="updates">
      <h4>Get Updates</h4>
      <form action="//meetsylo.us15.list-manage.com/subscribe/post?u=5f4dc1ccf93330a637ad62ce3&amp;id=58d5e7dce7" method="post" target="_blank" novalidate name="email-signup">
        <div class="form__contents">
          <div class="field-group">
            <label for="email">Email Address</label>
            <input id="email" type="email" name="EMAIL" value="" placeholder="your email address" required />
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_5f4dc1ccf93330a637ad62ce3_58d5e7dce7" tabindex="-1" value="">
            </div>
            <input class="cta-button" type="submit" name="subscribe" value="Subscribe" />
          </div>
        </div>
      </form>
    </div>
    <div class="logo">
      <img src="/img/SYLO-logo-graytext-vertical.png" title="SYLO logo" height="88px" />
    </div>
  </div>
  <div class="footer__social">
    <a class="footer__social__logo footer__social__logo--twitter" href="https://twitter.com/meetsylo" target="_blank" rel="noopener noreferrer">
      <img title="@ us on Twitter" alt="Twitter logo" src="../img/twitter_logo.png" height="48px" />
    </a>
    <a class="footer__social__logo footer__social__logo--linkedin" href="https://www.linkedin.com/company-beta/7957476" target="_blank" rel="noopener noreferrer">
      <img title="Connect with us on LinkedIn" alt="LinkedIn logo" src="../img/linkedin_logo.png" height="32px" />
    </a>
    <a class="footer__social__logo footer__social__logo--instagram" href="https://instagram.com/meetsylo" target="_blank" rel="noopener noreferrer">
      <img title="Follow us on Instagram" alt="Instagram logo" src="../img/instagram_logo.png" height="48px" />
    </a>
    <a class="footer__social__logo footer__social__logo--facebook" href="https://facebook.com/meetsylo" target="_blank" rel="noopener noreferrer">
      <img title="Like us on Facebook" alt="Facebook logo" src="../img/facebook_logo.png" height="32px" />
    </a>
  </div>
  <div class="footer__endnotes">
    <address>
      72 Madison Avenue, 10th Floor, New York, NY 10016
    </address>
    <p class="copyright">
      Copyright &copy; 2017 SYLO Inc. | <a href="/terms">Terms of Use</a> &amp; <a href="/privacy">Privacy Policy</a>
    </p>
  </div>
</footer>
