<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8" />
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png?v=BGB3Rv4G4E">
  <link rel="icon" type="image/png" href="/favicon-32x32.png?v=BGB3Rv4G4E" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png?v=BGB3Rv4G4E" sizes="16x16">
  <link rel="manifest" href="manifest.json?v=BGB3Rv4G4E">
  <link rel="mask-icon" href="safari-pinned-tab.svg?v=BGB3Rv4G4E" color="#5e265e">
  <link rel="shortcut icon" href="/favicon.ico?v=BGB3Rv4G4E">
  <meta name="apple-mobile-web-app-title" content="SYLO">
  <meta name="application-name" content="SYLO">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700,900" rel="stylesheet" />
</head>
