<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', {title: 'Get Your Insights - Creators - SYLO'}) %>
  <body>
    <main id="contact__creator" class="modal">
      <%- include("partials/contact-header.ejs") %>

      <img class="icon" src="../../icons/icon_camera_white.svg" height="72px" />
      <h1>Get your content insights</h1>
      <form id="form3" name="form3" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="/syloforms">
        <h2>Before we give your content the goods, give us your vitals.</h2>
        <p id="contact-form__error" class="hidden"></p>
        <ul>
          <li id="foli2" class="form-group">
            <label class="desc" id="title2" for="Field2">
              Your First Name
              <span id="req_2" class="req">*</span>
            </label>
            <div>
              <input id="Field2" name="Field2" type="text" value="" maxlength="255" tabindex="1" placeholder="Your First Name" required />
            </div>
          </li>
          <li id="fo3li8" class="form-group">
            <label id="title8" for="Field8">
              Your Last Name
              <span id="req_8" class="req">*</span>
            </label>
            <div>
              <input id="Field8" name="Field8" type="text" value="" maxlength="255" tabindex="2" placeholder="Your Last Name" required />
            </div>
          </li>
          <li id="foli4" class="form-group">
            <label class="desc" id="title4" for="Field4">
              Your Email Address
              <span id="req_4" class="req">*</span>
            </label>
            <div>
              <input id="Field4" name="Field4" type="email" spellcheck="false" value="" maxlength="255" tabindex="3" placeholder="Your Email Address" required />
            </div>
          </li>
          <li id="foli5" class="form-group">
            <label class="desc" id="title5" for="Field5">
              Your Phone Number (optional)
            </label>
            <div>
              <input id="Field5" name="Field5" tabindex="4" type="tel" maxlength="255" value="" placeholder="Your Phone Number (optional)" />
            </div>
          </li>
          <li id="foli3" class="form-group">
            <label class="desc" id="title3" for="Field3">
              What's Your Social Media Handle(s)? (optional)
            </label>
            <div>
              <input id="Field3" name="Field3" type="text" value="" maxlength="255" tabindex="5" placeholder="What's Your Social Media Handle(s)? (optional)" />
            </div>
          </li>
          <li id="foli6" class="form-group">
            <label class="desc" id="title6" for="Field6">
              Your Message (optional)
            </label>
            <div>
              <textarea id="Field6" name="Field6" spellcheck="true" rows="4" tabindex="6" placeholder="Your Message (optional)"></textarea>
            </div>
          </li>
          <li class="form-group--buttons">
            <div>
              <input id="saveForm" name="saveForm" class="cta-button" type="submit" value="LET'S GO" />
            </div>
          </li>
          <li class="form-group--hidden">
            <label for="comment">Do Not Fill This Out</label>
            <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
            <input type="hidden" id="idstamp" name="idstamp" value="duq7NEC2kiZGdnHPZOyG6nEkorwTZWnjS5GfgBsvG1E=" />
          </li>
          <li class="form-group--hidden">
            <label id="title12" for="Field12">
              Referred From
            </label>
            <div>
              <select id="Field12" name="Field12">
                <option value="Creator contact form" selected="selected">
                  Creator contact form
                </option>
                <option value="Food ad landing page">
                  Food ad landing page
                </option>
                <option value="Family ad landing page">
                  Family ad landing page
                </option>
                <option value="Beauty/fashion ad landing page">
                  Beauty/fashion ad landing page
                </option>
                <option value="Men's active lifestyle landing page">
                  Men's active lifestyle landing page
                </option>
                <option value="Travel ad landing page">
                  Travel ad landing page
                </option>
              </select>
            </div>
          </li>
        </ul>
      </form>
    </main>

    <!-- Google Code for Creator Form Submission Conversion Page
    In your html page, add the snippet and call
    goog_report_conversion when someone clicks on the
    chosen link or button. -->
    <script type="text/javascript">
      /* <![CDATA[ */
      goog_snippet_vars = function() {
        var w = window;
        w.google_conversion_id = 850224630;
        w.google_conversion_label = "iQ0oCOTf43IQ9su1lQM";
        w.google_remarketing_only = false;
      }
      // DO NOT CHANGE THE CODE BELOW.
      goog_report_conversion = function(url) {
        goog_snippet_vars();
        window.google_conversion_format = "3";
        var opt = new Object();
        opt.onload_callback = function() {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      }
      var conv_handler = window['google_trackConversion'];
      if (typeof(conv_handler) == 'function') {
        conv_handler(opt);
      }
    }
    /* ]]> */
    </script>
    <script type="text/javascript"
      src="//www.googleadservices.com/pagead/conversion_async.js">
    </script>

    <%- include partials/scripts.ejs %>
    <!-- Insert Analytics Scripts Here -->
  </body>
</html>
