<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8" />
    <title>Contact Us - SYLO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="../../apple-touch-icon.png?v=BGB3Rv4G4E">
    <link rel="icon" type="image/png" href="../../favicon-32x32.png?v=BGB3Rv4G4E" sizes="32x32">
    <link rel="icon" type="image/png" href="../../favicon-16x16.png?v=BGB3Rv4G4E" sizes="16x16">
    <link rel="manifest" href="../../manifest.json?v=BGB3Rv4G4E">
    <link rel="mask-icon" href="../../safari-pinned-tab.svg?v=BGB3Rv4G4E" color="#5e265e">
    <link rel="shortcut icon" href="../../favicon.ico?v=BGB3Rv4G4E">
    <meta name="apple-mobile-web-app-title" content="SYLO">
    <meta name="application-name" content="SYLO">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700,900" rel="stylesheet" />
  </head>
  <body>
    <main id="contact-us" class="modal">
      <header>
        <a href="http://meetsylo.com" title="Go to SYLO home page" id="logo" class="header__logo">
          <img src="../../img/SYLO-logo-outline-white-horizontal.png" title="SYLO" height="56px" />
        </a>
        <a id="exit-form" class="exit" href="/">
          <img src="../../icons/icon_close_white_48px.svg" width="32px" />
        </a>
      </header>
      <img class="icon" src="../../icons/icon_contact_us_white.svg" height="72px" />
      <h1>Contact Us</h1>
      <form id="form1" name="form1" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://meetsylo.wufoo.com/forms/z189w8qv18uscjz/#public">
        <p id="contact-form__error" class="hidden"></p>
        <ul>
          <li id="foli8" class="form-group">
            <label id="title8" for="Field8">
              Your First Name
              <span id="req_8">*</span>
            </label>
            <div>
              <input id="Field8" name="Field8" type="text" value="" maxlength="255" tabindex="1" placeholder="Your First Name" required />
            </div>
          </li>
          <li id="fo1li10" class="form-group">
            <label id="title10" for="Field10">
              Your Last Name
              <span id="req_10" class="req">*</span>
            </label>
            <div>
              <input id="Field10" name="Field10" type="text" value="" maxlength="255" tabindex="2" placeholder="Your Last Name" required>
            </div>
          </li>
          <li id="foli4" class="form-group">
            <label id="title4" for="Field4">
              Your Company (optional)
            </label>
            <div>
              <input id="Field4" name="Field4" type="text" value="" maxlength="255" tabindex="3" placeholder="Your Company (optional)" />
            </div>
          </li>
          <li id="foli5" class="form-group">
            <label id="title5" for="Field5">
              Your Email Address
              <span id="req_5">*</span>
            </label>
            <div>
              <input id="Field5" name="Field5" type="email" spellcheck="false" value="" maxlength="255" tabindex="4" placeholder="Your Email Address" required />
            </div>
          </li>
          <li id="foli6" class="form-group">
            <label id="title6" for="Field6">
              Your Phone Number (optional)
            </label>
            <div>
              <input id="Field6" name="Field6" tabindex="5" type="tel" maxlength="255" value="" placeholder="Your Phone Number (optional)" />
            </div>
          </li>
          <li id="foli7" class="form-group">
            <label id="title7" for="Field7">
              Your Message (optional)
            </label>
            <div>
              <textarea id="Field7" name="Field7" spellcheck="true" rows="4" tabindex="6" placeholder="Your Message (optional)"></textarea>
            </div>
          </li>
          <li class="form-group--buttons">
            <input id="saveForm" name="saveForm" class="cta-button" type="submit" value="Send" />
          </li>
          <li class="form-group--hidden">
            <label for="comment">Do Not Fill This Out</label>
            <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
            <input type="hidden" id="idstamp" name="idstamp" value="e5oRzuE5RQEqDadtBXR5td1cnqls8906dII78zHbyGw=" />
          </li>
        </ul>
      </form>
    </main>
    <%- include partials/footer.ejs %>

    <script defer src="../../js/bundle.js"></script>
    <!-- Insert Analytics Scripts Here -->
  </body>
</html>
