<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8" />
    <title>Get Your Insights - SYLO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png?v=BGB3Rv4G4E">
    <link rel="icon" type="image/png" href="../favicon-32x32.png?v=BGB3Rv4G4E" sizes="32x32">
    <link rel="icon" type="image/png" href="../favicon-16x16.png?v=BGB3Rv4G4E" sizes="16x16">
    <link rel="manifest" href="../manifest.json?v=BGB3Rv4G4E">
    <link rel="mask-icon" href="../safari-pinned-tab.svg?v=BGB3Rv4G4E" color="#5e265e">
    <link rel="shortcut icon" href="../favicon.ico?v=BGB3Rv4G4E">
    <meta name="apple-mobile-web-app-title" content="SYLO">
    <meta name="application-name" content="SYLO">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700,900" rel="stylesheet" />
  </head>
  <body>
    <main id="contact" class="modal">
      <header>
        <a href="http://meetsylo.com" title="Go to SYLO home page" id="logo" class="header__logo">
          <img src="../img/SYLO-logo-outline-white-horizontal.png" title="SYLO" height="56px" />
        </a>
        <a id="exit-form" class="exit" href="/">
          <img src="../icons/icon_close_white_48px.svg" width="32px" />
        </a>
      </header>
      <img class="icon" src="../icons/icon_brain_white.svg" height="72px" />
      <h1>Get your insights</h1>
      <h2>I am a...</h2>
      <div class="contact__links">
        <a href="/contact/brand">
          <img class="icon" src="../icons/icon_chart_white.svg" height="72px" />
          <h3>Brand</h3>
        </a>
        <a href="/contact/creator">
          <img class="icon" src="../icons/icon_camera_white.svg" height="72px" />
          <h3>Creator</h3>
        </a>
      </div>
      <h2>Neither? <a href="/contact/all">Contact us here!</a></h2>
    </main>
    <script defer src="../js/bundle.js"></script>
    <!-- Insert Analytics Scripts Here -->
  </body>
</html>
