<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', {title: 'FAQ - SYLO'}) %>
  <body>

    <%- include partials/header.ejs %>

        <main id="faq">
          <div class="faq-hero">
            <img class="icon" src="../icons/icon_question_mark_white.svg" width="72px" />
            <h1>Frequently Asked Questions</h1>
          </div>
          <div class="faq-content-container">
            <ul class="faq-menu">
              <li class="faq-menu__header">
                Jump to Category
                <button id="faq-menu__toggle">
                  <img src="../icons/icon_arrow_up_white.svg" width="32px" height="32px" />
                </button>
              </li>
              <li><a href="#for-creators">For Creators</a></li>
              <li><a href="#for-brands">For Brands</a></li>
            </ul>
            <div class="faq-content">
              <div id="for-creators" class="faq-content__section">
                <h2>For Creators</h2>
                <p class="question">
                  I create content on YouTube and other social media platforms. Is SYLO for me?
                </p>
                <p class="answer">
                  Yes! Whether you're an established influencer or are just starting to break through on YouTube, Instagram, Facebook or Twitter, we can show you data and insights that will help you better understand your audience, and better represent yourself to brands.
                </p>
                <p class="question">
                  What if I'm already with an MCN or exclusive to one or more social media platforms?
                </p>
                <p class="answer">
                  No problem! SYLO is an agnostic platform which means that anyone, and everyone, can use it to optimize their content and gain independent, 3rd-party data to support their brand collaborations.
                </p>
                <p class="question">
                  Why do you need me to authorize access to my social accounts?
                </p>
                <p class="answer">
                  Your authorization is how we get all of the data we need to calculate SYLO Scores. We gather public, private, and proprietary data to feed our algorithm and identify patterns in your audience’s interactions with your content. This puts the power of data — the same data brands are demanding from independent sources like SYLO — in your hands so you have the information you need to make the best deals with your brand partners.
                </p>
                <p class="question">
                  What does it cost, and are there any commitments after I register?
                </p>
                <p class="answer">
                  It's free and comes with zero commitments.
                </p>
                <p class="question">
                  How long will it take me to sign up?
                </p>
                <p class="answer">
                  The whole process takes fewer than 10 minutes. We ask you a few simple questions about your audience, how you generally categorize your content, and some information about past brand campaigns.
                </p>
                <p class="question">
                  Why do you ask me about my audience when I register?
                </p>
                <p class="answer">
                  We can tell from the data what audience you’re reaching; and if we know what audience you intend to reach, we can help you understand whether you’re succeeding.
                </p>
                <p class="question">
                  Why do you ask me to categorize my content when I register?
                </p>
                <p class="answer">
                  Our content experts watch and categorize each piece of content you create. It is helpful for them to know how you think about your own content.
                </p>
                <p class="question">
                  Why do you ask me about past brand deals when I register?
                </p>
                <p class="answer">
                  As our content experts categorize your content, they also keep an eye out for branded content and label it with the brand name. Understanding how you’ve worked with brands in the past is part of how we help you identify brands that might be a good fit for you in the future. It helps the overall process for you to tell us which brands you’ve worked with in the past.
                </p>
                <p class="question">
                  What is a SYLO Score?
                </p>
                <p class="answer">
                  SYLO extracts the most vital data about an influencer's engagement, consumption, and reach. Then, we calculate uniform scores that brands can trust for each piece of branded and non-branded content.
                </p>
                <p class="question">
                  What do you mean when you say you “categorize” my content?
                </p>
                <p class="answer">
                  When you upload your content, you tag it so it can be found online through hashtag searches, SEO, or the like. You use tags you hope will make your content discoverable to an audience. SYLO, on the other hand, uses words that categorize your content to make it more discoverable to brands (such as “lifestyle,” “travel,” “men’s fashion,” or “beauty”). But don’t worry — SYLO never interferes with the tags you carefully assign to your content because our categorization happens in our own platform.
                </p>
                <p class="question">
                  Can I learn anything about my content through SYLO’s categorization?
                </p>
                <p class="answer">
                  Yes! Our categorization allows you to identify and understand deeper themes in your content that you might not have thought of. This can help you both with your content strategy and your business strategy.
                </p>
                <p class="question">
                  What if I change my mind and want to leave the SYLO platform?
                </p>
                <p class="answer">
                  No problem. Because SYLO is a completely voluntary platform you can deauthorize your social accounts in your SYLO profile at any time and close your account. But, since SYLO is free, not exclusive, and adds to your understanding of your content strategy and brand sales potential, we hope you’ll continue to utilize us as a partner in your success. Before you decide to leave the platform, please give us an opportunity to address your concerns by contacting us at <a href="mailto:support@meetsylo.com">support@meetsylo.com</a>.
                </p>
                <p class="question">
                  Can SYLO help me get deals with brands?
                </p>
                <p class="answer">
                  SYLO is not an MCN or an influencer marketing agency, but we are a value measurement partner to both brands and creators. For that reason, we do have opportunities to connect creators and brands based on the SYLO Scores and categorizations in our system. We never actively promote or pitch one creator over another. If brands come to us seeking influencers whose content is a good fit, we use our SYLO Scores to help those brands identify the right influencers for their campaigns. Once we identify a good match, we connect the brand with you and/or your manager/agent.
                </p>
                <p class="question">
                  I did a brand campaign! Now what?
                </p>
                <p class="answer">
                  SYLO can help you put together a post-campaign report to highlight the success of your campaign. You may be able to identify things that the brand and you can do better to improve your next campaign together. SYLO is dedicated to helping brands and creators form long-term partnerships with repeat business and increased budgets.
                </p>
                <p class="question">
                  How do I give my Manager/Agent access to my account in the SYLO app?
                </p>
                <p class="answer">
                  Your manager can log into your SYLO account using the same log-in credentials you created when you registered with SYLO.
                  <br />
                  <br />
                  <em>Please note: SYLO does not store your password and will never share your login credentials with anyone.</em>
                </p>

                <p class="question">
                  I don’t understand why some of my SYLO Scores seem low. Why is that?
                </p>
                <p class="answer">
                  The SYLO Score algorithm is designed deliberately to create a forced range that ranks all your content across one platform at a time. This design allows you to see at a glance which content is resonating most or least with your audience, which is especially helpful in allowing you to see how your branded content performs in relation to your native content. Your SYLO Scores are relative only to you (i.e., your scores are not being compared to anyone else). So, think of all of your SYLO Scores as clues to what parts of your content strategy are working best and what parts can be improved or reconsidered.
                </p>
              </div>
              <div id="for-brands" class="faq-content__section">
                <h2>For Brands</h2>
                <p class="question">
                  We are contacted all the time by vendors in the influencer marketing space. How is SYLO different?
                </p>
                <p class="answer">
                  SYLO is the only third-party measurement provider in the influencer space that can tell brands how their content is performing relative to an influencer's channel. With the SYLO Score, generated from our proprietary theme-related data, influencers and brand marketers now have standardized measurement for campaigns.
                </p>
                <p class="question">
                  What's the unique value of SYLO analytics compared with others in the marketplace?
                </p>
                <p class="answer">
                  By establishing benchmarks SYLO determines the value of your campaigns, allowing you to make informed marketing decisions. For companies seeking transparency, verification, and measurement for influencer campaigns, similar to what is demanded from other forms of media, SYLO's technology delivers the missing piece.
                </p>
                <p class="question">
                  What exactly does SYLO do?
                </p>
                <p class="answer">
                  First and foremost, SYLO measures social media content with its SYLO Scores, generated from our proprietary theme-related data. SYLO Scores give influencers and brand marketers standardized measurement for campaigns. Our thorough campaign reports give brands the information they need to improve each subsequent campaign. Additionally, using SYLO Scores as a basis, we can provide your brand with influencers who have the top SYLO Scores across your desired verticals, social platforms, and audiences for each campaign. SYLO also has the ability to execute these campaigns for you, or we are always happy to advise your creative agency or team about campaign content and influencer strategies.
                </p>
                <p class="question">
                  When should I call SYLO?
                </p>
                <p class="answer">
                  Are you struggling to determine the ROI of your influencer marketing efforts? This is where SYLO comes in. As a brand, you want precise numbers. SYLO effectively measures the impact of influencer campaigns across all social platforms. We take the guesswork out of measurement with our proprietary SYLO Score. Brands can now have the power to deep-dive into their influencer marketing ROI like never before.
                </p>
                <p class="question">
                  Does SYLO replace my creative agency?
                </p>
                <p class="answer">
                  No. SYLO enables brands, agencies, and influencers to constantly improve their campaigns through our influencer evaluation, campaign execution, and advanced measurement capabilities. We are not a creative agency.
                </p>
                <p class="question">
                  How does SYLO’s targeting/identification work?
                </p>
                <p class="answer">
                  SYLO categorizes each influencer’s posts using 55 industry-led marketing vertical themes to identify audience influence and assign SYLO scores for each vertical. Then, SYLO searches, evaluates, and contracts influencers for the brand’s campaign, based on your desired performance benchmarks and audience.
                </p>
                <p class="question">
                  How is SYLO different from Trackr or social listening platforms?
                </p>
                <p class="answer">
                  The heart of SYLO's brand services is customized reporting and analysis. The SYLO campaign report spells out what worked and didn't work in your campaign. Easy-to-understand scoring gives you the confidence that you're working with the right influencers and the right type of content on the right platforms.
                </p>
                <p class="question">
                  How does SYLO work with influencers?
                </p>
                <p class="answer">
                  By using SYLO’s free Creator App, influencers can access all of their content, data, insights, and SYLO Scores themselves. This access helps them better understand their audience, and better represent themselves to brands.
                </p>
              </div>
              <div class="faq-cta">
                <p>Do you still have questions?</p>
                <a href="/contact/all?next=/faq" class="cta-button">Contact Us</a>
              </div>
            </div>
          </div>
        </main>

    <%- include partials/footer.ejs %>

    <script defer src="js/bundle.js"></script>
    <!-- Insert Analytics Scripts Here -->
  </body>
</html>
