<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', {title: 'FAQ - SYLO'}) %>
  <body>

    <%- include partials/header.ejs %>

    <main id="home">
      <div class="home__content">
        <div class="home__tagline">
          <h1>Third-Party Measurement for Influencer Marketing</h1>
        </div>
        <div class="home__cta">
          <a class="cta-button" href="/contact">Get Your Insights</a>
        </div>
      </div>
    </main>

    <%- include partials/footer.ejs %>

    <script defer src="js/bundle.js"></script>
    <!-- Insert Analytics Scripts Here -->
  </body>
</html>
