<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', {title: 'Privacy Policy - SYLO'}) %>

  <body>

    <%- include partials/header.ejs %>

      <main id="terms" class="legal">
        <div class="container">
          <h1>SYLO Privacy Policy</h1>

          <p>
            Protecting your private information is our priority. This Statement of Privacy applies to <a href="http://meetSYLO.com">meetSYLO.com</a>, the SYLO Platform, and SYLO, Inc. (collectively, the “Site”) and governs data collection and usage. This
            Policy covers only information that is collected through this Site and no other web sites that may be linked to or from this Site, and does not cover information that may be collected through software downloaded from this Site, nor does this
            Policy apply to practices of companies that we do not control or to people we do not employ or manage. By using the Site, you expressly consent to our collection, storage, use and disclosure of your personal information as described in this
            Policy and to all other terms herein. For the purposes of this Privacy Policy, unless otherwise noted, all references to SYLO, Inc. include without limitation <a href="http://meetSYLO.com">meetSYLO.com</a>, SYLO, and the SYLO platform. By
            using the Site, you consent to the data practices described in this statement. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your
            acceptance of those changes.
          </p>

          <h2>Collection of your Personal Information</h2>
          <p>
            SYLO may collect personally identifiable information, such as your name and identity, email address, physical and virtual contact information (including home and/or office address), biographical and professional information, association affiliation, demographic
            data, financial information, information responsive to SYLO polls or surveys, or requested in order to provide information about our business, employment, products or services, and any other information necessary to register in the SYLO platform,
            which may include third-party account credentials. SYLO may also collect demographic and/or technical information. We may gather additional personal or non-personal information in the future.
          </p>
          <p>
            Information about your computer hardware and software may be automatically collected by SYLO. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation
            of the service, to maintain quality of the service, and to provide general statistics regarding use of the SYLO website.
          </p>
          <p>
            SYLO encourages you to review the privacy statements of websites you choose to link to from SYLO so that you can understand how those websites collect, use and share your information. SYLO is not responsible for the privacy statements or other content
            on websites outside of the SYLO website.
          </p>

          <h2>Use of your Personal Information</h2>
          <p>
            SYLO collects and uses your personal information to operate its website(s) and deliver the services you have requested.
          </p>
          <p>
            SYLO does not sell, rent or lease its customer lists to third parties.
          </p>
          <p>
            SYLO may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide
            these services to SYLO, and they are required to maintain the confidentiality of your information.
          </p>
          <p>
            SYLO will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on SYLO or the site;
            (b) protect and defend the rights or property of SYLO; and, (c) act under exigent circumstances to protect the personal safety of users of SYLO, or the public.
          </p>

          <h2>Your Use of the Site</h2>
          <p>In order to offer the services for which you will use the Site, your username may be displayed throughout the Site and to the public. Notices are sent to other users of the Site regarding suspicious activity and policy violations on the Site
            and refer to usernames and specific items. Please understand that if you link your name with your username, others will be able to personally identify your activities.</p>

          <h2>Use of Cookies</h2>
          <p>
            The SYLO website may use “cookies” to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely
            assigned to you, and can only be read by a web server in the domain that issued the cookie to you.
          </p>
          <p>
            One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize SYLO pages, or register with SYLO
            site or services, a cookie helps SYLO to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as your email address, and so on. When you return to the same SYLO website,
            the information you previously provided can be retrieved, so you can easily use the SYLO features that you customized.
          </p>
          <p>
            You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience
            the interactive features of the SYLO services or websites you visit.
          </p>

          <h2>Security of your Personal Information</h2>
          <p>
            SYLO secures your personal information from unauthorized access, use or disclosure. Although we take appropriate technical and organizational measures to maintain the security of your personal information on the Site, please remember that any messages
            you send over the internet are not secure unless they are appropriately encrypted. Despite our efforts, third parties may unlawfully intercept or access transmissions or private communications, and other users may abuse or misuse your personal
            information that they collect from the Site.
          </p>

          <h2>Children Under Thirteen</h2>
          <p>
            SYLO does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.
          </p>

          <h2>Disconnecting your SYLO Account from Third Party Websites</h2>
          <p>
            You may be able to connect your SYLO account to third party accounts. BY CONNECTING YOUR SYLO ACCOUNT TO YOUR THIRD PARTY ACCOUNT, YOU ACKNOWLEDGE AND AGREE THAT YOU ARE CONSENTING TO THE CONTINUOUS RELEASE OF INFORMATION ABOUT YOU TO OTHERS (IN ACCORDANCE
            WITH YOUR PRIVACY SETTINGS ON THOSE THIRD PARTY SITES). IF YOU DO NOT WANT INFORMATION ABOUT YOU, INCLUDING PERSONALLY IDENTIFYING INFORMATION, TO BE SHARED INTHIS MANNER, DO NOT USE THE THIS FEATURE. You may disconnect your account from a
            third party account at any time. Users may disconnect access to their accounts on third party websites by canceling their SYLO registration.
          </p>

          <h2>Opt-Out &amp; Unsubscribe</h2>
          <p>
            We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from SYLO by contacting us at <a href="mailto:info@meetSYLO.com">info@meetSYLO.com</a>.
          </p>

          <h2>Changes to this Statement</h2>
          <p>
            SYLO will occasionally update this Statement of Privacy to reflect company and customer feedback. SYLO encourages you to periodically review this Statement to be informed of how SYLO is protecting your information.
          </p>

          <h2>Jurisdiction</h2>
          <p>
            SYLO is located in the United States, as are the servers that make the Site available. All matters relating to privacy issues are governed by the laws of the United States and the State of New York.
          </p>

          <h2>Contact Us</h2>
          <p>
            SYLO welcomes your questions or comments regarding this Statement of Privacy. If you believe that SYLO has not adhered to this Statement, please contact SYLO at <a href="mailto:info@meetSYLO.com">info@meetSYLO.com</a>.
          </p>

          <p class="effective-date">
            Effective as of July 14, 2016
          </p>
        </div>
      </main>
      <%- include partials/footer.ejs %>

        <%- include partials/scripts.ejs %>
          <!-- Insert Analytics Scripts Here -->
  </body>

</html>
