<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', {title: 'Terms of Use - SYLO'}) %>
  <body>

    <%- include partials/header.ejs %>

    <main id="terms" class="legal">
      <div class="container">
        <h1>SYLO Website Terms of Use</h1>

        <h3>Agreement between user and meetSYLO.com</h3>
        <p>
          Welcome to <a href="http://meetSYLO.com">meetSYLO.com</a>. <a href="http://meetSYLO.com">meetSYLO.com</a> (the “Site”) is comprised of various web pages operated by SYLO, Inc. (“SYLO”), including without limitation the SYLO Platform and mobile web app. The Site is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein (the “Terms”). Your use of the Site constitutes your agreement to all such Terms. Please read these terms carefully, and keep a copy of them for your reference.
        </p>

        <h2>Privacy</h2>
        <p>
          Your use of the Site is subject to SYLO’s <a href="/privacy">Privacy Policy</a>. Please review our <a href="/privacy">Privacy Policy</a>, which also governs the Site and informs users of our data collection practices.
        </p>

        <h2>Electronic Communications</h2>
        <p>
          Visiting the Site or sending emails to SYLO constitutes electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures and other communications that we provide to you electronically, via email and on the Site, satisfy any legal requirement that such communications be in writing.
        </p>

        <h2>Your account</h2>
        <p>
          If you use the Site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. You may not assign or otherwise transfer your account to any other person or entity. You acknowledge that SYLO is not responsible for third party access to your account that results from theft or misappropriation of your account. SYLO and its associates reserve the right to refuse or cancel service, terminate accounts, or remove or edit content in our sole discretion.
        </p>
        <p>
          SYLO does not knowingly collect, either online or offline, personal information from persons under the age of thirteen. If you are under 18, you may use the Site only with permission of a parent or guardian.
        </p>

        <h2>Links to third party sites/Third party services</h2>
        <p>
          The Site may contain links to other websites (“Linked Sites”). The Linked Sites are not under the control of SYLO and SYLO is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. SYLO is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by SYLO of the site or any association with its operators.
        </p>
        <p>
          Certain services made available via the Site are delivered by third party sites and organizations. By using any product, service or functionality originating from the <a href="http://meetSYLO.com">meetSYLO.com</a> domain, you hereby acknowledge and consent that SYLO may share such information and data with any third party with whom SYLO has a contractual relationship to provide the requested product, service or functionality on behalf of SYLO’s users and customers.
        </p>

        <h2>No unlawful or prohibited use/Intellectual Property</h2>
        <p>
          You are granted a non-exclusive, non-transferable, revocable license to access and use the Site strictly in accordance with these Terms. As a condition of your use of the Site, you warrant to SYLO that you will not use the Site for any purpose that is unlawful or prohibited by these Terms. You may not use the Site in any manner which could damage, disable, overburden, or impair the Site or interfere with any other party’s use and enjoyment of the Site. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Site.
        </p>
        <p>
          All content included as part of the Service, such as text, graphics, logos, images, as well as the compilation thereof, and any software used on the Site, is the property of SYLO or its suppliers and protected by copyright and other laws that protect intellectual property and proprietary rights. You agree to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes thereto.
        </p>
        <p>
          You will not modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part, found on the Site. SYLO content is not for resale. Your use of the Site does not entitle you to make any unauthorized use of any protected content, and in particular you will not delete or alter any proprietary rights or attribution notices in any content. You will use protected content solely for your personal use, and will make no other use of the content without the express written permission of SYLO and the copyright owner. You agree that you do not acquire any ownership rights in any protected content. We do not grant you any licenses, express or implied, to the intellectual property of SYLO or our licensors except as expressly authorized by these Terms.
        </p>

        <h2>Copyright Policy</h2>
        <p>
          Our policy is to investigate any allegations of copyright or other infringement brought to our attention. If you have evidence, know, or have a good faith belief that your rights or the rights of a third party have been violated and you want us to delete, edit, or disable the material in question, you must provide us with all of the following information: (a) a physical or electronic signature of a person authorized to act on behalf of the owner of the exclusive right that is allegedly infringed; (b) identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works are covered by a single notification, a representative list of such works; (c) identification of the material that is claimed to be infringed or to be the subject of infringing activity that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material; (d) information reasonably sufficient to permit us to contact you, such as an address, telephone number, and if available, an email address at which you may be contacted; (e) a statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and (f) a statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed. For this notification to be effective, you must provide it to our designated agent at SYLO, Inc., 7 East 14th Street, Suite 829, New York, NY 10003.
        </p>

        <h2>Third Party Accounts</h2>
        <p>
          You may be able to connect your SYLO account to third party accounts. By connecting your SYLO account to your third party account, you acknowledge and agree that you are consenting to the continuous release of information about you to others (in accordance with your privacy settings on those third party sites). If you do not want information about you to be shared in this manner, do not use this feature.
        </p>

        <h2>International Users</h2>
        <p>
          The Service is controlled, operated and administered by SYLO within the USA. If you access the Service from a location outside the USA, you are responsible for compliance with all local laws. You agree that you will not use the SYLO Content accessed through The Site in any country or in any manner prohibited by any applicable laws, restrictions or regulations.
        </p>

        <h2>SYLO Platform</h2>
        <p>
          By accessing or using the SYLO Platform, you or the entity on whose behalf you use it (“you” or “your”) agree to be bound by these Terms, to the exclusion of all other. If you do not agree with all of these Terms, you are not authorized to use the SYLO Platform. If you are acting on behalf of another person or legal entity, you represent that you have the authority to bind such person or legal entity.
        </p>
        <p>
          The SYLO Platform connects creators of online media (including influencers and multi-channel networks) (collectively, “Creators”) with brands (including publishers and/or agents on behalf of brands) (collectively, “Brands”) interested in retaining a Creator to feature or promote specific products, services or messages (each a “Campaign”) through various online media (the “Campaign Media”). SYLO may, when connections are made, contact Creators to negotiate advertising deals with Brands (“Brand Deals”).
        </p>
        <p>
          Creators and Brands (collectively, “Users”) expressly acknowledge and agree that Users are independent organizations and not SYLO’s contractors, agents or employees. We do not make any representations or warranties of any kind with respect to any Brand, Creator, Campaign, Campaign Media, or Campaign terms, nor shall SYLO be deemed to endorse any Brand or Creator, even if SYLO provides full-service management to any Brand. SYLO is not liable for the acts, errors, omissions, representations, warranties, breaches or negligence of any Brand or Creator, or for any personal injuries, death, property damage, or other damages or expenses resulting therefrom. We are not a party to any Campaign or Campaign terms, and we are in no way responsible for the performance or non-performance of any User thereunder.
        </p>
        <p>
          If you are not of legal age or otherwise do not have the necessary authority to form a binding contract with us, you must have permission from your legal guardian (in the manner required by SYLO), in order to use the SYLO Platform. If you are under 13 years of age, you are not authorized to use the SYLO Platform and you may not attempt to register for the SYLO Platform or to submit any information about yourself to us.
        </p>
        <p>
          In order to use the SYLO Platform, you will be required to register. You agree to provide accurate, current and complete information in connection with your registration and use of the SYLO Platform (“Registration Data”) and agree to maintain and promptly update your Registration Data as necessary to maintain its accuracy. By registering you are opting into the SYLO Platform and acknowledging that we may use the Registration Data and other information we collect in connection with your use of the SYLO Platform in accordance with our <a href="/privacy">Privacy Policy</a>. Such use may include collecting your Registration Data, sharing information about you with Brands, pitching Brand Deals on your behalf, and presenting you with Brand Deals. You acknowledge that SYLO makes no guarantee you will be presented with a Brand Deal. You acknowledge you have the authority to opt into the SYLO Platform and that you are not bound by any agreements that conflict with these Terms.
        </p>
        <p>
          Subject to your compliance with these Terms, we grant to you a non-exclusive, non-transferable, right, which right may not be sublicensed, to allow your employees and independent contractors acting on your behalf (“Authorized Users”) to access the SYLO Platform. Except for the limited rights granted herein to access the SYLO Platform, we reserve all right, title and interest in and to the SYLO Platform, including all software, programming interfaces and other technology underlying the user interface and online services through which you interact with SYLO and other Users in connection with Campaigns, and all updates, upgrades and improvements to the SYLO Platform. You will safeguard, and ensure that each Authorized User safeguards his or her user name and password. You will notify us immediately if you learn of any unauthorized use of any user name and password or any other known or suspected breach of security.
        </p>
        <p>
          You may not: (i) adapt, alter, modify, improve, translate or create derivative works of the SYLO Platform; (ii) reverse engineer, decompile, disassemble or otherwise attempt to reconstruct or obtain the source code to all or any portion of the SYLO Platform; (iii) use any person, automated script, software or any other fraudulent or deceptive means, to click or otherwise activate any form of view, action, response mechanism, annotation or advertising unit, so as to increase views, impressions, actions, or skew results; (iv) use any form of paid promotion to increase views without our express written consent; and (v) except as may be specifically provided in a writing by us, provide any third party access to the SYLO Platform on behalf of any third party, including as part of a time-sharing, outsourcing or software-as-a-service offering. You may not access or use the SYLO Platform for purposes of monitoring availability, performance or functionality, or for any other benchmarking or competitive purposes. You will not use the SYLO Platform to upload, download, display, perform, transmit, or distribute any Content (defined below) that is, nor will you engage in any activities that are, infringing, libelous, defamatory, erroneous, misleading, deceptive, offensive, hateful, obscene, pornographic, abusive, threatening, tortious, in violation of any privacy or intellectual property rights, or otherwise unlawful, or to transmit malicious code, viruses, time bombs, Trojan horses, or similar mechanisms, scripts, agents, bots or programs.
        </p>
        <p>
          Users are solely responsible for any and all videos, documents, messages, queries, posts, comments, ratings, tags, and any other text, content, information or data (collectively, the “Content”), which they or their Authorized Users submit, make available, or use with respect to SYLO and/or the SYLO Platform. Users represent and warrant that all of their Content is accurate and not misleading to the best of their knowledge and is not in violation of any third party rights.  Prior to submission, Users must have obtained all necessary rights and licenses in all elements of their Content. Content is not confidential or privileged, and Users waive rights of privacy or publicity in connection with their Content.
        </p>
        <p>
          Users and Authorized Users: (a) grant SYLO non-exclusive rights and license to use their Content in connection with the SYLO Platform as permitted by these Terms; (b) grant to SYLO an ongoing, irrevocable, royalty-free, sub-licensable, right and license to use, display and distribute, via any present or future medium, their Content; and (c) agree that SYLO may use Campaign Media but only in order to provide the SYLO Platform to its Users pursuant to these Terms. For clarity, Users retain all ownership of their Content and Campaign Media, subject only to the licenses granted in these Terms.
        </p>
        <p>
          Users and Authorized Users must evaluate, and will bear all risks associated with, the use of or reliance on Content obtained through the SYLO Platform. We will not pre-screen or actively review Content, but we may refuse or delete any Content of which we become aware that fails to fulfill the purpose of the SYLO Platform, contradicts these Terms, is contrary to law, or is otherwise inappropriate in our discretion. Under no circumstances will we be liable in any way for any Content, including, but not limited to, liability for any errors, inaccuracies, or omissions therein, or for any loss or damage of any kind incurred as a result of the use thereof. We will have no obligation or liability to Users or Authorized Users to maintain, store, or license any Content.
        </p>
        <p>
          We may use any reports, comments and suggestions in any form regarding the SYLO Platform that you provide to us (collectively, the “Feedback”). You grant us a worldwide, non-exclusive, irrevocable, perpetual, royalty-free right and license to incorporate and use the Feedback in connection with any products and services.
        </p>
        <p>
          The SYLO Platform may (but we are not required to) enable your access to third party websites and applications, for example YouTube (“Other Applications”). We do not control Other Applications. You are solely responsible for use of the Other Applications, including compliance with all terms, rules and policies with respect to such Other Applications. Under no circumstances will we be liable in any way for Other Applications, including any inability or failure to enable access to Other Applications from the SYLO Platform.
        </p>
        <p>
          We intend to make the SYLO Platform available except for planned downtime, emergency downtime, and any unavailability caused by circumstances beyond our reasonable control. SYLO reserves the right to modify the SYLO Platform from time to time and makes no guarantees as to the continuous availability of the SYLO Platform or of any specific feature(s) or functionality(ies) of the SYLO Platform.
        </p>
        <p>
          We may, without notice, immediately suspend your access (including any Authorized Users) to all or any portion of the SYLO Platform if we become aware or reasonably suspect that: (a) your use of the SYLO Platform violates applicable local, state, federal, or foreign laws or regulations or any of these Terms, or (b) your continued use of the SYLO Platform will disrupt use of the SYLO Platform by other Users, poses a security risk to the SYLO Platform, may harm SYLO or its systems, or may subject SYLO or any third party to liability.
        </p>

        <h2>Indemnification </h2>
        <p>
          You agree to indemnify, defend and hold harmless SYLO, its officers, directors, employees, agents and third parties, for any losses, costs, liabilities and expenses (including reasonable attorneys’ fees) relating to or arising out of your use of or inability to use the Site or services, any user postings made by you, your violation of any terms of this Agreement or your violation of any rights of a third party, or your violation of any applicable laws, rules or regulations. SYLO reserves the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with SYLO in asserting any available defenses.
        </p>
        <p>
          If you are a Brand, you agree to defend, indemnify and hold harmless SYLO, Creators, and their respective affiliates and representatives from damages, liabilities, costs and expenses (including reasonable attorneys’ fees) (collectively, “Losses”) resulting from any and all third party claims, judgments or proceedings (collectively, “Claims”) arising out of: (a) your breach of any of your representations or warranties; (b) your Content and any infringement of rights or violation of law therefrom, including the Licensed Marks and other materials you provide to Creators for use in Campaigns, provided that the Indemnified Party used your Content as permitted; (c) compliance with your specifications and instructions regarding the Campaign; or (d) the distribution, sale or use of your products or services, including any claims for personal injury or tangible property damage, or the infringement of any intellectual property right or other right of any person or entity by such products and services.
        </p>
        <p>
          If you are a Creator, you agree to defend, indemnify and hold harmless SYLO, Brands and their respective affiliates and representatives from Losses resulting from any and all third party Claims arising out of: (a) your breach of any of your representations or warranties; (b) your Content and any infringement of rights or violation of law therefrom, including the Campaign Media, provided that the Indemnified Party used your Content as permitted; or (c) your display, delivery, or performance of the Campaign in breach of the Campaign terms or any other terms.
        </p>
        <p>
          If you have a dispute with one or more Users and/or Authorized Users of the SYLO Platform, you agree that SYLO is under no obligation to become involved and you hereby release SYLO, its affiliates and representatives from claims, demands and damages (actual, direct and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, foreseeable and unforeseeable, arising out of or in any way connected with such disputes.
        </p>

        <h2>Liability disclaimer</h2>
        <p>
          THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. SYLO, INC. AND/OR ITS SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE SITE AT ANY TIME.
        </p>
        <p>
          SYLO DOES NOT CONTROL THE CONTENT OF ANY USERS OR AUTHORIZED USERS OF THE SYLO PLATFORM OR ANY OTHER THIRD PARTY CONTENT, INFORMATION OR MATERIALS, INCLUDING ANY OTHER APPLICATIONS. AS SUCH, SYLO IS NOT RESPONSIBLE FOR THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, SECURITY OR ACCURACY OF ANY SUCH CONTENT FOR ANY PURPOSE.
        </p>
        <p>
          SYLO, INC. AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS CONTAINED ON THE SITE FOR ANY PURPOSE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS ARE PROVIDED “AS IS” WITHOUT WARRANTY OR CONDITION OF ANY KIND. SYLO, INC. AND/OR ITS SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.
        </p>
        <p>
          TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL SYLO, INC. AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE SITE, WITH THE DELAY OR INABILITY TO USE THE SITE OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THE SITE, OR OTHERWISE ARISING OUT OF THE USE OF THE SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF SYLO, INC. OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE SITE, OR WITH ANY OF THESE TERMS, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE.
        </p>

        <h2>Termination/access restriction</h2>
        <p>
          SYLO reserves the right, in its sole discretion, to terminate your access to the Site and the related services or any portion thereof at any time, without notice. To the maximum extent permitted by law, this agreement is governed by the laws of the State of New York and you hereby consent to the exclusive jurisdiction and venue of courts in New York in all disputes arising out of or relating to the use of the Site. Use of the Site is unauthorized in any jurisdiction that does not give effect to all provisions of these Terms, including, without limitation, this section.
        </p>
        <p>
          You agree that no joint venture, partnership, employment, or agency relationship exists between you and SYLO as a result of this agreement or use of the Site. SYLO’s performance of this agreement is subject to existing laws and legal process, and nothing contained in this agreement is in derogation of SYLO’s right to comply with governmental, court and law enforcement requests or requirements relating to your use of the Site or information provided to or gathered by SYLO with respect to such use. If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect.
        </p>
        <p>
          Unless otherwise specified herein, this agreement constitutes the entire agreement between the user and SYLO with respect to the Site and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between the user and SYLO with respect to the Site. A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent an d subject to the same conditions as other business documents and records originally generated and maintained in printed form. It is the express wish to the parties that this agreement and all related documents be written in English.
        </p>

        <h2>Changes to Terms</h2>
        <p>
          SYLO reserves the right, in its sole discretion, to change the Terms under which The Site and the SYLO Platform are offered. The most current version of the Terms will supersede all previous versions. SYLO encourages you to periodically review the Terms to stay informed of our updates.
        </p>

        <h2>Dispute Resolution</h2>
        <p>
          Any disputes arising out of or related to these Terms will be referred to and finally settled by binding arbitration in accordance with the Commercial Arbitration Rules of the American Arbitration Association in effect at the time of arbitration except as inconsistent with this section. All awards may if necessary be enforced by any court having jurisdiction. The existence of any dispute, the existence or details of the arbitration proceeding, and all related documents, materials, evidence, judgments and awards therein, must be kept confidential. Except as required by law, no party will make any public announcements with respect to the proceeding or the award, except as required to enforce same. The parties hereby waive the right to a trial by jury and agree to only bring claims in an individual capacity and not as a plaintiff or class member in any purported class or representative proceeding. Notwithstanding the foregoing, nothing in this section will preclude the right and ability to file and maintain at any time an action for recovery of injunctive or provisional relief in any court of competent jurisdiction under applicable law.
        </p>

        <h2>Contact Us</h2>
        <p>
          SYLO welcomes your questions or comments regarding the Terms at <a href="mailto:info@meetsylo.com">info@meetSYLO.com</a>.
        </p>
        <p class="effective-date">
          Effective as of August 16, 2016
        </p>
      </div>
    </main>

    <%- include partials/footer.ejs %>

    <%- include partials/scripts.ejs %>
    <!-- Insert Analytics Scripts Here -->
  </body>
</html>
