<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Thanks!'}) %>

  <body>
    <main id="contact__brand" class="modal">
      <%- include('../partials/contact-header.ejs') %>
      <img class="icon" src="../../icons/icon_chart_white.svg" height="72px" />
      <h1>Powerful you have become.</h1>
      <div class="success">
          <p>Your brand is on the path to greatness. A SYLO team member will be in touch soon with next steps.</span></p>
          <a href="/" class="cta-button">High five</a>
      </div>
    </main>
    <script defer src="/js/bundle.js"></script>


    <!-- Insert Analytics Scripts Here -->
  </body>

</html>
