<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Thanks!'}) %>

  <body>
    <main id="contact__brand" class="modal">
      <%- include('../partials/contact-header.ejs') %>
      <img class="icon" src="/icons/icon_chart_white.svg" height="72px" />
      <h1>Powerful you have become.</h1>
      <div class="success">
          <p>Your brand is on the path to greatness. A SYLO team member will be in touch soon with next steps.</span></p>
          <a href="/" class="cta-button">High five</a>
      </div>
    </main>
    <script defer src="/js/bundle.js"></script>

    <!-- Google Code for Ad Page Form Submission Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 850224630;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "3WoyCLrf43IQ9su1lQM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/850224630/?label=3WoyCLrf43IQ9su1lQM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
    <!-- Insert Analytics Scripts Here -->
  </body>

</html>
