<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Thanks!'}) %>

  <body>
    <main id="contact-us" class="modal">
      <%- include('../partials/contact-header.ejs') %>
        <img class="icon" src="../../icons/icon_contact_us_white.svg" height="72px" />
        <h1>Contact Us</h1>
        <div class="success">
          <h3>Your message has been sent!</h3>
          <p><span>We'll get back to you in a New York minute. In the meantime, check out our </span><a class="faq-link" href="/faq">FAQs</a><span>. You never know what you'll learn.</span></p><a href="/" class="cta-button">Ok, thanks!</a>
        </div>
    </main>
    <script defer src="../../js/bundle.js"></script>
    <!-- Google Code for Contact Us Form Submission Conversion Page -->
    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 850224630;
      var google_conversion_language = "en";
      var google_conversion_format = "3";
      var google_conversion_color = "ffffff";
      var google_conversion_label = "KL-eCKLg13IQ9su1lQM";
      var google_remarketing_only = false;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/850224630/?label=KL-eCKLg13IQ9su1lQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
    <!-- Insert Analytics Scripts Here -->
  </body>

</html>
