<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Thanks!'}) %>

  <body>

    <main id="contact__creator" class="modal">
      <%- include("../partials/contact-header.ejs") %>

        <img class="icon" src="../../icons/icon_camera_white.svg" height="72px" />
        <h1>First learn stand. Then learn fly.</h1>
        <div class="success">
          <p>Your social content is about to blast off. A SYLO team member will be in touch soon with launch codes.</span>
          </p>
          <a href="/" class="cta-button">Drop the mic</a>
        </div>
    </main>
    <script defer src="../../js/bundle.js"></script>

    <!-- Google Code for Creator Form Submission Conversion Page -->
    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 850224630;
      var google_conversion_language = "en";
      var google_conversion_format = "3";
      var google_conversion_color = "ffffff";
      var google_conversion_label = "iQ0oCOTf43IQ9su1lQM";
      var google_remarketing_only = false;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/850224630/?label=iQ0oCOTf43IQ9su1lQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
    <!-- Insert Analytics Scripts Here -->
  </body>

</html>
